@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px #146c18f7;
    background-color: #f0fff1;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 10px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 4px #292929;
    background-color: #d7ffde;
}

h1{
    color: #267e2bf7;
    text-align: center;
}

input[type="text"],
textarea {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #267e2bf7;
    background-color: #f0fff1;
    color: #000000;
    border-radius: 5px;
}

button {
    background-color: #267e2bf7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}